nav .btn {
    /*background-color: #9b1b30;*/
    background-color: #ed1d24;
    color: #fef9ff;
    margin-right: 30px;
    text-align: center;
    width: 150px !important;
}

nav .btn:hover {
    font-weight: bold;
    color: #ffffff;
}

#add-button {
	background-color: #0060aa;
	color: #fef9ff;
}

#add-button:hover {
	font-weight: bold;
    color: #ffed10;
}

.right {
  position: center;
  right: 0px;
  width: 150px;
  
  }